{% extends 'server_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ model_name }} Details</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
        </div>
    </form>

    <!-- Add Back to Home and Back to List buttons -->
    <div class="button-box mt-3">
        <a type="button" class="btn btn-secondary mr-2" href="{% url update_url object.pk %}">Edit</a>
        <a type="button" class="btn btn-danger mr-2" href="{% url delete_url object.pk %}">Delete</a>
        <a type="button" class="btn btn-primary" href="{% url list_url %}">Back to List</a>
        <a type="button" class="btn btn-primary ml-2" href="{{ previous_page_url }}">Return</a>
    </div>
</div>
{% endblock %}